body,html{
    margin: 0;
    height: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900);

.card,.playzonecard {
  width:116px;height:178px;
  background:#fff;
  border-radius:5px;
  display:table;
  box-sizing:border-box;
  margin:10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:18px;
  box-shadow:0 0 10px #aaaaaa;
  text-align:center;
  position:relative;
}
.card .inner ,.playzonecard .inner{
    height: 100%;
    width: 100%;
  display:table-cell;
  vertical-align:middle;
  border-radius:5px;
  overflow:hidden;
}

.card .mark,.playzonecard .mark{
  display:inline-block;
  vertical-align:middle;
  background:#ffffff;
  margin:auto;
  padding:0 26px;
  border-radius:100px 60px / 120px 60px;
  line-height:1.4;
}


.card#blue-1,.card#blue-2,.card#blue-3,.card#blue-4,.card#blue-5,.card#blue-6,.card#blue-7,.card#blue-8,.card#blue-9{
  color:#0063B3;
}



.card#green-1,.card#green-2,.card#green-3,.card#green-4,.card#green-5,.card#green-6,.card#green-7,.card#green-8,.card#green-9{
  color:#18A849;
}



.card#red-1,.card#red-2,.card#red-3,.card#red-4,.card#red-5,.card#red-6,.card#red-7,.card#red-8,.card#red-9{
  color:#C72A18;
}



.card#yellow-1,.card#yellow-2,.card#yellow-3,.card#yellow-4,.card#yellow-5,.card#yellow-6,.card#yellow-7,.card#yellow-8,.card#yellow-9{
  color:#E6CA1E;
}








